.title {
  text-align: center;
  font-size: var(--size-2xl);
}

.intro_txt_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 1.5rem;
}

.intro_txt {
  text-align: center;
  font-size: var(--size-base);
  max-width: 1024px;
}

.intro_txt span {
  font-weight: bold;
  color: var(--clr-accent);
}

/* xs */
@media (min-width: 475px) {
  .intro_txt {
    font-size: var(--size-lg);
  }
}

/* sm */
@media (min-width: 640px) {
  .title {
    font-size: var(--size-3xl);
  }

  .intro_txt {
    font-size: var(--size-xl);
  }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/*@media (min-width: 1024px) {}*/

/* xl */
@media (min-width: 1280px) {
  .title {
    font-size: var(--size-4xl);
  }

  .intro_txt {
    font-size: var(--size-2xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */
