.cover_container {
  width: 100%;
  height: 200px;
  background-size: cover;
  position: relative;
  background-image: url("../../assets/cover.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  mix-blend-mode: multiply;
}

.cover_body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cover_title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
  text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #000;
  text-align: center;
}

.shop_btn {
  font-size: var(--size-base);
  margin-block-start: 0.5em;
  background-color: var(--clr-accent);
  border-radius: 6px;
  font-weight: bold;
  padding: 0.4em 0.6em;
}

.shop_anchor {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}

.arrow_icon {
  width: 1.75em;
}

/* xs */
@media (min-width: 475px) {
  .cover_container {
    height: 250px;
  }

  .cover_title {
    font-size: var(--size-3xl);
  }
}

/* sm */
@media (min-width: 640px) {
  .cover_container {
    height: 350px;
  }

  .cover_title {
    font-size: var(--size-4xl);
  }

  .shop_btn {
    font-size: var(--size-lg);
  }
}

/* md */
@media (min-width: 768px) {
  .cover_title {
    font-size: var(--size-5xl);
  }
}

/* lg */
@media (min-width: 1024px) {
  .cover_container {
    height: 500px;
  }

  .cover_title {
    font-size: var(--size-6xl);
  }

  .shop_btn {
    font-size: var(--size-xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .cover_title {
    font-size: var(--size-7xl);
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .cover_container {
    height: 600px;
  }

  .cover_title {
    font-size: var(--size-8xl);
  }

  .shop_btn {
    font-size: var(--size-2xl);
  }
}
