.ingredients_grid {
  flex: 1;
  margin-block-start: 1rem;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-auto-rows: min-content 1fr; /*this makes all the rows have same height (equal to the height of the tallest row)*/
  justify-items: center;
  row-gap: 10px;
  overflow-y: auto;
  position: relative;
}

.box_shadow_top {
  box-shadow: inset 0 8px 5px -5px rgb(200 200 200 / 1);
}

.box_shadow_bottom {
  box-shadow: inset 0 -8px 5px -5px rgb(200 200 200 / 1);
}

.box_shadow_top_and_bottom {
  box-shadow: inset 0 8px 5px -5px rgb(200 200 200 / 1),
    inset 0 -8px 5px -5px rgb(200 200 200 / 1);
}

/*xxs*/
@media (min-width: 350px) {
  .ingredients_grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 10px;
  }
}

/* xs */
@media (min-width: 475px) {
  .ingredients_grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* sm */
/*@media (min-width: 640px) {}*/

/* md */
@media (min-width: 768px) {
  .ingredients_grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* lg */
@media (min-width: 1024px) {
  .ingredients_grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* xl */
@media (min-width: 1280px) {
  .ingredients_grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* 2xl */
/*@media (min-width: 1536px) {}*/
